<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				template="../WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h1>Empty Page</h1>
					<p>Use this page to start from scratch and place your custom content.</p>
					<p:button outcome="/views/admin/dashboard" value="Home" style="display:inline-block;margin-top:5px"/>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>
