<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
>

	<div class="footer">
		<div class="card clearfix">
			<span class="footer-text-left">Cercana</span>
			<span class="footer-text-right"><span
				class="ui-icon ui-icon-copyright"></span>  <span>Ayuntamiento</span></span>
		</div>
	</div>
</ui:composition>