<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pp="http://primefaces.org/ultima">
    <h:form id="menuform">
        <div class="layout-menu #{guestPreferences.menuClass}">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <ui:fragment
                            rendered="#{guestPreferences.profileMode == 'inline' and guestPreferences.menuLayout != 'menu-layout-static menu-layout-horizontal'}">

                        <div class="profile">
                            <div class="profile-image"
                                 style="border-radius: 50%; background: url('#{perfilUsuario.urlImagen}'); background-repeat: round;"/>
                            <a id="profile-options" href="#">
                                <div class="ui-g-12">
                                <span class="profile-name">#{perfilUsuario.nombreCompleto}</span>
                                <i class="material-icons">keyboard_arrow_down</i>
                                </div>
                            </a>
                        </div>

                        <ul id="profile-menu" class="ultima-menu">
                            <li role="menuitem"><a
                                    href="${pageContext.request.contextPath}/views/common/perfil-usuario.xhtml"
                                    class="ripplelink"> <i
                                    class="material-icons">person</i> <span>Perfil</span>
                            </a></li>
                            <!--<li role="menuitem"><a href="#" class="ripplelink"> <i-->
                                    <!--class="material-icons">settings_applications</i> <span>Configuración</span>-->
                            <!--</a></li>-->
                            <li role="menuitem">
                                <h:form>
                                    <p:commandLink id="cmdLinkLogout"
                                                   actionListener="#{autenticarUsuario.doActionSalir}">
                                        <i class="material-icons">&#xE8AC;</i>
                                        <span>Salir</span>
                                    </p:commandLink>
                                </h:form>
                            </li>
                        </ul>
                    </ui:fragment>
                    <pp:menu widgetVar="me" rendered="#{perfilUsuario.hasRole('ADMIN')}">
                        <p:menuitem id="om_dashboard" value="Dashboard" icon="fa fa-fw fa-home"
                                    outcome="/views/admin/dashboard"/>
                        <p:menuitem id="perfil-usuario" value="Mi perfil" icon="fa fa-fw fa-userId"
                                    outcome="/views/common/perfil-usuario.xhtml" rendered="false"/>

                        <p:submenu id="submenu_catalogos" label="Catálogos" icon="fa fa-fw fa-cogs">
                            <p:menuitem id="acuerdos" rendered="#{perfilUsuario.hasRole('ADMIN')}" value="Acuerdos" icon="fa fa-fw fa-exclamation-circle"
                                        outcome="/views/admin/catalogos/acuerdos"/>
                            <p:menuitem id="respuestas_rapidas" rendered="#{perfilUsuario.hasRole('ADMIN')}" value="Respuestas Rápidas" icon="fa fa-fw fa-flash"
                                        outcome="/views/admin/catalogos/respuestas-rapidas"/>

                        </p:submenu>

                        <p:menuitem id="recoleccion" value="Recoleccion"
                                    icon="fa fa-fw fa-truck"
                                    outcome="/views/admin/recoleccion/rutas.xhtml?faces-redirect=true"/>

                        <p:menuitem id="tickets" value="Tickets"
                                    icon="fa fa-fw fa-ticket"
                                    outcome="/views/admin/tickets/tickets.xhtml?faces-redirect=true"/>

                        <p:menuitem value="Avisos" icon="fa fa-fw fa-newspaper-o" outcome="/views/admin/avisos/articulos"/>

                        <p:menuitem value="Usuarios" icon="fa fa-fw fa-users" outcome="/views/admin/catalogos/usuario">
                            <f:param name="staff" value="false"/>
                        </p:menuitem>

                        <p:menuitem value="Staff" icon="fa fa-fw fa-user-secret" outcome="/views/admin/catalogos/usuario">
                            <f:param name="staff" value="true"/>
                        </p:menuitem>
                    </pp:menu>

                    <pp:menu widgetVar="us" rendered="#{perfilUsuario.hasRole('USER')}">
                        <p:menuitem id="user_tickets" value="Tickets"
                                    icon="fa fa-fw fa-ticket"
                                    outcome="/views/user/tickets/tickets.xhtml?faces-redirect=true"/>

                    </pp:menu>
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>