<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">



<h:head>

	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport"
			  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, userId-scalable=0"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="theme-color"
			  content="#{guestPreferences.themeColors[guestPreferences.theme]}"/>
		<link rel="shortcut icon" type="image/vnd.microsoft.icon"  href="#{request.contextPath}/resources/main/images/favicon.ico" />
	</f:facet>

	<title>#{app.softwareProvider} - #{app.softwareAcronym}</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{resource['main/images/favicon.ico']}"/>

	<h:outputScript name="js/nanoscroller.js" library="ultima-layout"/>
	<h:outputScript name="js/layout.js" library="ultima-layout"/>
	<h:outputScript name="js/ripple.js" library="ultima-layout"/>
	<h:outputScript name="js/swipe.js" library="ultima-layout"/>
	<!-- IntroJS JS -->
	<h:outputScript name="main/js/intro.min.js"/>
	<!--APP JS-->
	<h:outputScript name="main/js/app.js"/>

	<ui:insert name="head"/>
</h:head>

<h:body styleClass="main-body #{guestPreferences.compact ? 'layout-compact' : null}">


	<div class="layout-wrapper #{guestPreferences.menuLayout}">
		<ui:include src="./topbar.xhtml"/>
		<ui:include src="./menu.xhtml"/>

		<div class="layout-main">
			<ui:insert name="content"/>

			<ui:include src="./footer.xhtml"/>
		</div>
	</div>

	<p:ajaxStatus
			style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
		<f:facet name="start">
			<i class="fa fa-spinner fa-pulse ajax-loader"
			   aria-hidden="true" style="color: #0e2031"></i>
		</f:facet>

		<f:facet name="complete">
			<h:outputText value=""/>
		</f:facet>
	</p:ajaxStatus>


	<!-- PrimeFaces Ultima Theme CSS -->
	<h:outputStylesheet name="css/nanoscroller.css" library="ultima-layout"/>
	<h:outputStylesheet name="css/animate.css" library="ultima-layout"/>
	<h:outputStylesheet name="css/ripple.css" library="ultima-layout"/>
	<h:outputStylesheet name="css/yaesta/yaesta.css" library="ultima-layout"/>

    <!--font awesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"/>



	<!-- Certuit App CSS -->
	<h:outputStylesheet name="css/style.css" library="main"/>

	<!-- IntroJS CSS -->
	<h:outputStylesheet name="css/introjs.css" library="main"/>
	<h:outputStylesheet name="css/introjs-flattener.css" library="main"/>

	<h:outputScript name="main/js/intro.min.js"/>
	<h:outputStylesheet name="main/css/introjs.min.css"/>


	<!-- Adecuaciones Certuit -->

	<!-- Calendario en español -->
	<h:outputScript library="main" name="js/calendar_es.js"/>

	<h:outputStylesheet name="main/css/hover.css"/>
	<!-- Necesario para mostrar el tooltip en botones deshabilitados -->
	<h:outputScript name="main/js/tooltip.js"/>



	<script type="text/javascript">
        function startTour() {
            var tour = introJs();
            tour.setOption('tooltipPosition', 'auto');
            tour.setOption('positionPrecedence', ['left', 'right', 'bottom',
                'top']);
            tour.start();
        }

        function startTourAt(step) {
            var tour = introJs();
            tour.setOption('tooltipPosition', 'auto');
            tour.setOption('positionPrecedence', ['left', 'right', 'bottom',
                'top']);

            tour.goToStep(step).start();
        }

        function startTourAt(step, clase) {
            $('body').addClass(clase);
            var tour = introJs('.' + clase);
            tour.setOption('tooltipPosition', 'auto');
            tour.setOption('positionPrecedence', ['left', 'right', 'bottom',
                'top']);

            tour.goToStep(step).start();
        }
	</script>

	<script type="text/javascript">
        function hideDialogOnSuccess(xhr, status, args, dialogWidgetVar) {
            if (args.validationFailed) {
                PF(dialogWidgetVar).jq.effect("shake", {
                    times: 5
                }, 100);
            } else {
                PF(dialogWidgetVar).hide();
            }
        }

        function shakeDialog(dialogWidgetVar) {
            PF(dialogWidgetVar).jq.effect("shake", {
                times: 5
            }, 100);
        }
	</script>

	<!-- Estilos spark para graficas  -->
	<script type="text/javascript">

        function skinChart() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#03A9F4', '#E91E63', '#4CAF50', '#FFC107'];
            this.cfg.grid = {
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#F5F5F5',
                shadow: false
            };
            this.cfg.axesDefaults = {
                borderWidth: 0.1,
                borderColor: 'bdbdbd',
                rendererOptions: {
                    textColor: '#666F77'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 1,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinBar() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#03A9F4', '#4CAF50', '#E91E63', '#FFC107','#666'];
            this.cfg.grid = {
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#F5F5F5',
                shadow: false
            };
            this.cfg.axesDefaults = {
                borderWidth: 0.1,
                borderColor: 'bdbdbd',
                rendererOptions: {
                    textColor: '#666F77'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 1,
                renderer: $.jqplot.BarRenderer,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinArea() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#FFC107', '#4CAF50'];
            this.cfg.grid = {
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#F5F5F5',
                shadow: false
            };
            this.cfg.axesDefaults = {
                borderWidth: 0.1,
                borderColor: 'bdbdbd',
                rendererOptions: {
                    textColor: '#666F77'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 1,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinBubble() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#4CAF50', '#FFC107'];
            this.cfg.grid = {
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#F5F5F5',
                shadow: false
            };
            this.cfg.axesDefaults = {
                rendererOptions: {
                    textColor: '#666F77'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 1,
                renderer: $.jqplot.BubbleRenderer,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinZoom() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#4CAF50', '#FFC107'];
            this.cfg.grid = {
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#F5F5F5',
                shadow: false
            };
            this.cfg.axesDefaults = {
                rendererOptions: {
                    textColor: '#666F77'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 1,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinPie() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#03A9F4', '#E91E63', '#4CAF50', '#FFC107'];
            this.cfg.grid = {
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#F5F5F5',
                shadow: false
            };
            this.cfg.axesDefaults = {
                rendererOptions: {
                    textColor: '#666F77',
                }
            };
            this.cfg.seriesDefaults = {
                renderer: $.jqplot.PieRenderer,
                shadow: false,
                lineWidth: 1,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinDonut() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#03A9F4', '#E91E63', '#4CAF50', '#FFC107'];
            this.cfg.grid = {
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#F5F5F5',
                shadow: false
            };
            this.cfg.axesDefaults = {
                rendererOptions: {
                    textColor: '#666F77',
                }
            };
            this.cfg.seriesDefaults = {
                renderer: $.jqplot.DonutRenderer,
                shadow: false,
                lineWidth: 1,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinBarAndLine() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#03A9F4', '#FFC107'];
            this.cfg.grid = {
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#F5F5F5',
                shadow: false
            };
            this.cfg.axesDefaults = {
                borderWidth: 0.1,
                borderColor: 'bdbdbd',
                rendererOptions: {
                    textColor: '#666F77'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 5,
                renderer: $.jqplot.BarRenderer,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinMeterGauge() {
            this.cfg.title = '';
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 5,
                renderer: $.jqplot.MeterGaugeRenderer,
                rendererOptions: {
                    shadow: false,
                    min: 100,
                    max: 800,
                    intervals: [200, 300, 400, 500, 600, 700, 800],
                    intervalColors: ['#03A9F4', '#E91E63', '#4CAF50', '#FFC107', '#03A9F4', '#E91E63', '#4CAF50']
                }
            }
        }

        function skinMultiAxis() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#4CAF50', '#FFC107'];
            this.cfg.grid = {
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#F5F5F5',
                shadow: false
            };
            this.cfg.axesDefaults = {
                borderWidth: 0.1,
                borderColor: 'bdbdbd',
                rendererOptions: {
                    textColor: '#666F77'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth:1,
                renderer: $.jqplot.BarRenderer,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

	</script>

</h:body>

</html>